USE [master]
GO
/****** Object:  Database [UMM]    Script Date: 31/03/2022 10:53:05 AM ******/
CREATE DATABASE [UMM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UMM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UMM.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UMM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UMM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UMM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UMM]
GO
/****** Object:  Table [dbo].[UserData]    Script Date: 31/03/2022 10:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserData](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[FName] [varchar](100) NULL,
	[LName] [varchar](100) NULL,
	[Permissions] [int] NULL,
	[Pw] [varchar](100) NULL,
	[Activated] [bit] NOT NULL,
	[Email] [varchar](100) NULL,
	[PhoneNo] [varchar](30) NULL,
	[Gender] [varchar](10) NULL,
	[DOB] [varchar](30) NULL,
	[Nationality] [varchar](50) NULL,
	[PasswordEDate] [datetime] NULL,
	[SetupDate] [datetime] NULL,
	[Retired] [bit] NOT NULL,
	[Logged_in] [bit] NULL,
 CONSTRAINT [PK_UserInfoD] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[ActivateDeactivateUser]    Script Date: 31/03/2022 10:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActivateDeactivateUser]
	-- Add the parameters for the stored procedure here
	@Username varchar(50), @activated bit, @userid int
	
AS
declare @errorcode int, @errormessage varchar(100), @ID int
-- Grab error value
DECLARE @ERR INT = 0;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

BEGIN TRY
IF EXISTS (SELECT * FROM [dbo].[UserData] WHERE UserId = @userid )
BEGIN
			UPDATE [dbo].[UserData]
			SET [Activated] = @activated,
			retired = @activated    
			WHERE userId = @userid
       
		SET @ERR = @@ERROR;
		IF (@ERR = 0)
		BEGIN
			SET @errorcode = 1
			SET @errormessage = 'User Activated Successfully!'
		END
		ELSE
		BEGIN
			SET @errorcode = 0
			SET @errormessage = 'Record not Updated'
		END

END
 
ELSE
BEGIN  
		SET @errorcode = 0
		SET @errormessage = 'User does not exist'
END
	  
	  select @errorcode as Errorcode, @errormessage as Errormessage
END TRY
BEGIN CATCH
		select 0 as Errorcode, ERROR_MESSAGE() as Errormessage
END CATCH




GO
/****** Object:  StoredProcedure [dbo].[AlterUser]    Script Date: 31/03/2022 10:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[AlterUser]
	-- Add the parameters for the stored procedure here
	@Username varchar(50), @password varchar(100), @fname varchar(100),
	 @lname varchar(100), @email varchar(100), @phoneno varchar(30), 
	 @gender varchar(10), @dob varchar(30), @nationality varchar(50),
	@permission int, @passwordenddate datetime,
	 @activated bit, @userid int
	
AS
declare @errorcode int, @errormessage varchar(100), @ID int
-- Grab error value
DECLARE @ERR INT = 0;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

BEGIN TRY
IF EXISTS (SELECT * FROM [dbo].[UserData] WHERE UserId = @userid )
BEGIN
			UPDATE [dbo].[UserData]
			SET [UserName] = @Username
			,[FName] = @fname
			,[LName] = @lname
			,[Permissions] = @permission
			,[Pw] = @password
			,[Activated] = @activated
			,[Email] = @email
			,[PhoneNo] = @phoneno
			,[Gender] = @gender
			,[DOB] = @dob
			,[Nationality] = @nationality
			,[PasswordEDate] = @passwordenddate
      
			WHERE userId = @userid
       
		SET @ERR = @@ERROR;
		IF (@ERR = 0)
		BEGIN
			SET @errorcode = 1
			SET @errormessage = 'User Updated Successfully!'
		END
		ELSE
		BEGIN
			SET @errorcode = 0
			SET @errormessage = 'Record not Updated'
		END

END
 
ELSE
BEGIN  
		SET @errorcode = 0
		SET @errormessage = 'User does not exist'
END
	  
	  select @errorcode as Errorcode, @errormessage as Errormessage
END TRY
BEGIN CATCH
		select 0 as Errorcode, ERROR_MESSAGE() as Errormessage
END CATCH




GO
/****** Object:  StoredProcedure [dbo].[createusers]    Script Date: 31/03/2022 10:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[createusers]
	-- Add the parameters for the stored procedure here
	@Username varchar(50), @password varchar(100), @fname varchar(100),
	 @lname varchar(100), @email varchar(100), @phoneno varchar(30), 
	 @gender varchar(10), @dob varchar(30), @nationality varchar(50),
	@permission int, @passwordenddate datetime,
	 @activated bit
	
AS
declare @errorcode int, @errormessage varchar(100), @ID int
-- Grab error value
DECLARE @ERR INT = 0;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

BEGIN TRY
IF NOT EXISTS (SELECT * FROM [dbo].[UserData] WHERE UserName = @Username )
BEGIN
        INSERT INTO [dbo].[UserData]
		 ([UserName]
           ,[FName]
           ,[LName]
           ,[Permissions]
           ,[Pw]
           ,[Activated]
           ,[Email]
           ,[PhoneNo]
           ,[Gender]
           ,[DOB]
           ,[Nationality]
           ,[PasswordEDate]
           ,[SetupDate]
           ,[Retired]
           ,[Logged_in])
         VALUES( @Username,@fname,@lname,@permission, @password, 
				@activated, @email,@phoneno,@gender,@dob,@nationality
				,@passwordenddate, GETDATE(),0,0)
       
		SET @ERR = @@ERROR;
		IF (@ERR = 0)
		BEGIN
			SET @errorcode = 1
			SET @errormessage = 'User created Successfully!'
		END
		ELSE
		BEGIN
			SET @errorcode = 0
			SET @errormessage = 'Record not inserted'
		END

END
 
ELSE
BEGIN  
		SET @errorcode = 0
		SET @errormessage = 'UserName already exist'
END
	  
	  select @errorcode as Errorcode, @errormessage as Errormessage
END TRY
BEGIN CATCH
		select 0 as Errorcode, ERROR_MESSAGE() as Errormessage
END CATCH




GO
/****** Object:  StoredProcedure [dbo].[ViewUser]    Script Date: 31/03/2022 10:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[ViewUser]
	
AS
declare @errorcode int, @errormessage varchar(100), @ID int
-- Grab error value
DECLARE @ERR INT = 0;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

BEGIN TRY
	SELECT TOP(100) * FROM [dbo].[UserData] 
END TRY
BEGIN CATCH
		select 0 as Errorcode, ERROR_MESSAGE() as Errormessage
END CATCH




GO
USE [master]
GO
